body{
    background-color: grey;
}
 h3{
    color: lightskyblue;
    text-align: justify;
}
span{
    color: lightgreen;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 100;
}
strong{
    font-style: italic;
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
}
img{
    width: 300px;
    height: 300px;
}
p{
    font-size: normal;
    font-family: cursive;
    font-weight: bold;
    
}
li{
    color: white;
}
.happyorsad{
    background-color: lightgray;
}
#inHappyorsad{
    color: black;
    text-align: center;
    font-weight: bolder;
}